Repository 42Nuts/Transcendence, pull requests merged in 2024-03, with the labels that each got.

#83 [FE] nickname 최대최소 글자 제한 추가 #82
  frontend/src/components/PopUp/nickNamePopup.js
Labels: ⭐️ FEAT, 🖥 FRONTEND

#85 Chore: front 페이지와 nginx 연결
  backend/django/src/templates/homePage.html
  backend/django/src/templates/loginPage.html
  backend/django/src/templates/nicknamePage.html
  backend/nginx/nginx.sh
  backend/nginx/src/loginPage.html
  backend/nginx/src/static/images/ProfileImage.png
  backend/nginx/src/static/output.css
  docker-compose.yml
  frontend/index.html
  frontend/src/app.js
  frontend/src/assets/images/icon-add.svg
  frontend/src/assets/images/icon-arrow-back-ios.svg
  frontend/src/assets/images/icon-arrow-forward-ios.svg
  frontend/src/assets/images/icon-person_add.svg
  frontend/src/assets/images/icon-person_check.svg
  frontend/src/assets/images/icon-priority_high.svg
  frontend/src/assets/images/icon-search.svg
  frontend/src/assets/images/icon-stylus.svg
  frontend/src/assets/images/icon-upload.svg
  frontend/src/assets/images/logo-42Nuts.svg
  frontend/src/assets/images/logo-pingpong.svg
  frontend/src/assets/images/tier-bonze.svg
  frontend/src/assets/images/tier-diamond.svg
  frontend/src/assets/images/tier-gold.svg
  frontend/src/assets/images/tier-ruby.svg
  frontend/src/assets/images/tier-silver.svg
  frontend/src/assets/images/title.png
  frontend/src/assets/static/2players.html
  frontend/src/assets/static/3players.html
  frontend/src/assets/static/4players.html
  frontend/src/assets/static/5players.html
  frontend/src/assets/static/gameMap.html
  frontend/src/assets/static/homePage.html
  frontend/src/assets/static/loadingPage.html
  frontend/src/assets/static/loginPage.html
  frontend/src/assets/static/logo.html
  frontend/src/assets/static/popup.html
  frontend/src/assets/static/profile.html
  frontend/src/assets/static/setting1.html
  frontend/src/assets/static/setting2.html
  frontend/src/assets/static/setting3.html
  frontend/src/assets/static/tournament.html
  frontend/src/assets/static/tournamentResult.html
  frontend/src/assets/styles/output.css
  frontend/src/components/Button/backIconButton.js
  frontend/src/components/Options/accountOption.js
  frontend/src/components/Options/creditsOption.js
  frontend/src/components/Options/gameOption.js
  frontend/src/components/PopUp/nickNamePopup.js
  frontend/src/components/PopUp/popup.js
  frontend/src/game/fourPlayerMode.js
  frontend/src/game/threePlayerMode.js
  frontend/src/game/twoPlayerMode.js
  frontend/src/loginPage.html
  frontend/src/pages/gamePage.js
  frontend/src/pages/homePage.js
  frontend/src/pages/profilePage.js
  frontend/tailwind.config.js
Labels: ⚙️ CHORE, 1️⃣0️⃣0️⃣ BACKEND, 🖥 FRONTEND

#91 [GAME] 웹소켓 연결/#78
  .env
  backend/django/requirements.txt
  backend/django/src/config/settings.py
  backend/django/src/login/views.py
  backend/django/src/logs/log.log
  backend/django/src/pongGame/consumers.py
  backend/django/src/pongGame/routing.py
  backend/django/src/pongGame/twoPlayerMode.py
  backend/django/src/pongGame/urls.py
  backend/django/src/pongGame/views.py
  backend/django/src/templates/game.html
  backend/nginx/logs/access.log
  backend/nginx/logs/error.log
  backend/redis-cache/Dockerfile
  backend/redis-cache/conf/redis.conf
  backend/redis-cache/tools/redis-cache.sh
  docker-compose.yml
  frontend/src/game/threePlayerMode.js
  frontend/src/game/twoPlayerMode.js
Labels: ⭐️ FEAT, 1️⃣0️⃣0️⃣ BACKEND, 🕹 GAME

#92 [BE] html 페이지 하나로 만들기 #88
  backend/django/django.sh
  backend/django/src/config/middleware.py
  backend/django/src/config/settings.py
  backend/django/src/config/urls.py
  backend/django/src/login/views.py
  backend/django/src/templates/homePage.html
  backend/nginx/nginx.sh
  backend/nginx/src/loginPage.html
  frontend/src/loginPage.html
Labels: ⚙️ CHORE, 1️⃣0️⃣0️⃣ BACKEND, 🖥 FRONTEND

#98 [FE] 게임 쪽을 제외한 api fetch 구현 및 다크 모드 구현
  .gitignore
  backend/django/django.sh
  backend/django/src/config/settings.py
  backend/django/src/logs/log.log
  backend/django/src/users/urls.py
  backend/django/src/users/views.py
  backend/nginx/logs/access.log
  backend/nginx/logs/error.log
  frontend/src/assets/images/icon-arrow-back-dark.svg
  frontend/src/assets/images/icon-lock-dark.svg
  frontend/src/assets/images/net-dark.svg
  frontend/src/assets/styles/output.css
  frontend/src/components/Button/backIconButton.js
  frontend/src/components/Button/basicButton.js
  frontend/src/components/Button/modeButton.js
  frontend/src/components/Card/card.js
  frontend/src/components/Card/lockCard.js
  frontend/src/components/Options/Account/exitOption.js
  frontend/src/components/Options/Game/switchOption.js
  frontend/src/components/Options/creditsOption.js
  frontend/src/components/Options/gameOption.js
  frontend/src/components/PopUp/nickNamePopup.js
  frontend/src/config/dark.js
  frontend/src/config/index.js
  frontend/src/config/profile.js
  frontend/src/config/theme.js
  frontend/src/pages/gamePage.js
  frontend/src/pages/homePage.js
  frontend/src/pages/optionsPage.js
  frontend/src/store/mutations.js
  frontend/src/store/state.js
  frontend/tailwind.config.js
Labels: ⭐️ FEAT, 🖥 FRONTEND

#104 [BE] HealthCheckBug 수정 #103
  .env
  backend/PostgreSQL/postgresql.sh
  backend/django/django.sh
  backend/django/src/config/middleware.py
  backend/django/src/config/urls.py
  backend/django/src/login/views.py
  backend/nginx/nginx.sh
  backend/redis-cache/tools/redis-cache.sh
  docker-compose.yml
Labels: 🐞 BUG, 1️⃣0️⃣0️⃣ BACKEND

#105 [GAME && FE] 2인 게임 디자인 적용
  frontend/src/assets/images/map-2players.svg
  frontend/src/assets/images/map-3players.svg
  frontend/src/assets/images/map-4players.svg
  frontend/src/assets/images/map-5players.svg
  frontend/src/assets/images/map-basket.svg
  frontend/src/assets/images/map-basketball.svg
  frontend/src/assets/images/map-bowling.svg
  frontend/src/assets/images/map-pingpong.svg
  frontend/src/assets/images/map-pocket.svg
  frontend/src/assets/images/map-soccer.svg
  frontend/src/assets/images/map-tennis.svg
  frontend/src/assets/styles/output.css
  frontend/src/components/Button/modeButton.js
  frontend/src/components/Card/card.js
  frontend/src/components/Options/gameOption.js
  frontend/src/components/PopUp/nickNamePopup.js
  frontend/src/game/twoPlayerMode.js
  frontend/src/pages/gameModePage.js
  frontend/src/pages/gamePage.js
  frontend/src/pages/homePage.js
  frontend/src/pages/optionsPage.js
  frontend/src/store/actions.js
  frontend/src/store/mutations.js
  frontend/src/store/state.js
Labels: ⭐️ FEAT, 🖥 FRONTEND, 👨🏻‍🎨 DESIGN, 🕹 GAME

#106 [BE] 매칭 큐 생성 및 그룹으로 만들어서 게임 실행
  backend/django/src/config/middleware.py
  backend/django/src/config/settings.py
  backend/django/src/config/urls.py
  backend/django/src/pongGame/consumers.py
  backend/django/src/pongGame/routing.py
  backend/django/src/pongGame/urls.py
  frontend/src/game/twoPlayerMode.js
Labels: ⭐️ FEAT, 1️⃣0️⃣0️⃣ BACKEND

#111 [GAME && FE] 토너먼트 페이지 js 구현
  .env
  .gitignore
  backend/django/src/config/settings.py
  frontend/src/app.js
  frontend/src/assets/effects/confetti_v2.js
  frontend/src/assets/static/2players.html
  frontend/src/assets/static/loadingPage.html
  frontend/src/assets/static/tournament.html
  frontend/src/assets/static/tournamentResult.html
  frontend/src/assets/styles/output.css
  frontend/src/components/Card/index.js
  frontend/src/components/Card/tournamentCard.js
  frontend/src/components/Card/tournamentResultCard.js
  frontend/src/components/Card/tournamentWinnerCard.js
  frontend/src/pages/gameModePage.js
  frontend/src/pages/index.js
  frontend/src/pages/tournamentPage.js
  frontend/src/pages/tournamentResultPage.js
  frontend/tailwind.config.js
Labels: ⭐️ FEAT, 🖥 FRONTEND, 🕹 GAME

#114 [BE] prometheus, grafana 사용하여 모니터링
  .env
  .gitignore
  backend/PostgreSQL/postgresql.sh
  backend/django/requirements.txt
  backend/django/src/config/middleware.py
  backend/django/src/config/settings.py
  backend/django/src/config/urls.py
  backend/grafana/Dockerfile
  backend/grafana/dashboard.json
  backend/grafana/grafana.sh
  backend/nginx/Dockerfile
  backend/nginx/nginx.sh
  backend/prometheus/Dockerfile
  backend/prometheus/prometheus.sh
  backend/redis-cache/Dockerfile
  backend/redis-cache/conf/redis.conf
  backend/redis-cache/redis-cache.sh
  backend/redis-cache/tools/redis-cache.sh
  docker-compose.yml
Labels: ⚙️ CHORE, ⭐️ FEAT, ✅ TEST, 1️⃣0️⃣0️⃣ BACKEND

#116 [BE] 버그 수정 (오타 및 패키지 오류)
  Makefile
  backend/PostgreSQL/Dockerfile
  backend/PostgreSQL/postgresql.sh
  backend/prometheus/Dockerfile
  backend/redis-cache/Dockerfile
  docker-compose.yml
Labels: 🐞 BUG, 1️⃣0️⃣0️⃣ BACKEND

#117 [BE] elk
  .env
  Makefile
  backend/ELK/elasticsearch/Dockerfile
  backend/ELK/elasticsearch/elasticsearch.sh
  backend/ELK/elasticsearch/elasticsearch.yml
  backend/ELK/elasticsearch/healthcheck.sh
  backend/ELK/elasticsearch/hostname
  backend/ELK/kibana/Dockerfile
  backend/ELK/kibana/kibana.ndjson
  backend/ELK/kibana/kibana.sh
  backend/ELK/kibana/kibana.yml
  backend/ELK/kibana/token
  backend/ELK/logstash/Dockerfile
  backend/ELK/logstash/healthcheck.sh
  backend/ELK/logstash/http_ca.crt
  backend/ELK/logstash/logstash.sh
  backend/PostgreSQL/Dockerfile
  backend/PostgreSQL/healthcheck.sh
  backend/PostgreSQL/postgresql.conf
  backend/PostgreSQL/postgresql.sh
  backend/django/Dockerfile
  backend/django/django.sh
  backend/django/healthcheck.sh
  backend/grafana/grafana.sh
  backend/nginx/Dockerfile
  backend/nginx/healthcheck.sh
  backend/nginx/nginx.sh
  backend/prometheus/Dockerfile
  backend/prometheus/healthcheck.sh
  backend/prometheus/prometheus.sh
  backend/redis-cache/Dockerfile
  backend/redis-cache/healthcheck.sh
  backend/redis-cache/redis-cache.sh
  docker-compose.yml
  frontend/src/components/PopUp/nickNamePopup.js
  frontend/src/pages/gameModePage.js
  frontend/src/pages/optionsPage.js
  frontend/src/pages/profilePage.js
  frontend/src/utils/getCookie.js
Labels: ⚙️ CHORE, ⭐️ FEAT, ✅ TEST, 1️⃣0️⃣0️⃣ BACKEND

#119 [FE && BE] 로그아웃 및 계정삭제 구현
  backend/django/src/config/middleware.py
  backend/django/src/login/views.py
  backend/django/src/users/views.py
  frontend/src/components/PopUp/nickNamePopup.js
  frontend/src/components/PopUp/popup.js
  frontend/src/pages/homePage.js
  frontend/src/pages/optionsPage.js
  frontend/src/pages/profilePage.js
Labels: ⭐️ FEAT, 1️⃣0️⃣0️⃣ BACKEND, 🖥 FRONTEND
