Repository 42Nuts/Transcendence, pull requests merged in 2024-02, with the labels that each got.

#29 Nginx Docker file 및 Docker compose file 작성 /#21
  Makefile
  README.md
  backend/django/Dockerfile
  backend/django/config/__init__.py
  backend/django/config/asgi.py
  backend/django/config/settings.py
  backend/django/config/urls.py
  backend/django/config/wsgi.py
  backend/django/manage.py
  backend/django/matches/__init__.py
  backend/django/matches/admin.py
  backend/django/matches/apps.py
  backend/django/matches/models.py
  backend/django/matches/tests.py
  backend/django/matches/views.py
  backend/django/pongGame/__init__.py
  backend/django/pongGame/admin.py
  backend/django/pongGame/apps.py
  backend/django/pongGame/consumers.py
  backend/django/pongGame/models.py
  backend/django/pongGame/routing.py
  backend/django/pongGame/tests.py
  backend/django/pongGame/twoPlayerMode.py
  backend/django/pongGame/urls.py
  backend/django/pongGame/views.py
  backend/django/templates/game.html
  backend/django/templates/homePage.html
  backend/django/templates/loginPage.html
  backend/django/templates/nicknamePage.html
  backend/django/users/__init__.py
  backend/django/users/admin.py
  backend/django/users/apps.py
  backend/django/users/models.py
  backend/django/users/tests.py
  backend/django/users/urls.py
  backend/django/users/views.py
  backend/nginx/Dockerfile
  backend/nginx/nginx.sh
  backend/nginx/src/loginPage.html
  backend/nginx/src/static/images/PingPongLogo.svg
  backend/nginx/src/static/images/ProfileImage.png
  backend/nginx/src/static/output.css
  backend/nginx/src/static/twoPlayerMode.js
  docker-compose.yml
  docker/docker.sh
Labels: ⭐️ FEAT, 📝 DOCS, 1️⃣0️⃣0️⃣ BACKEND

#37 [BE] NGINX+(Gunicorn+Django)+PostgreSQL #30
  .env
  Makefile
  backend/PostgreSQL/Dockerfile
  backend/PostgreSQL/postgresql.sh
  backend/django/Dockerfile
  backend/django/django.sh
  backend/django/pongGame/consumers.py
  backend/django/pongGame/routing.py
  backend/django/pongGame/twoPlayerMode.py
  backend/django/pongGame/urls.py
  backend/django/pongGame/views.py
  backend/django/requirements.txt
  backend/django/src/config/__init__.py
  backend/django/src/config/asgi.py
  backend/django/src/config/settings.py
  backend/django/src/config/urls.py
  backend/django/src/config/wsgi.py
  backend/django/src/manage.py
  backend/django/src/matches/__init__.py
  backend/django/src/matches/admin.py
  backend/django/src/matches/apps.py
  backend/django/src/matches/models.py
  backend/django/src/matches/tests.py
  backend/django/src/matches/views.py
  backend/django/src/pongGame/__init__.py
  backend/django/src/pongGame/admin.py
  backend/django/src/pongGame/apps.py
  backend/django/src/pongGame/consumers.py
  backend/django/src/pongGame/models.py
  backend/django/src/pongGame/routing.py
  backend/django/src/pongGame/tests.py
  backend/django/src/pongGame/twoPlayerMode.py
  backend/django/src/pongGame/urls.py
  backend/django/src/pongGame/views.py
  backend/django/src/templates/game.html
  backend/django/src/templates/homePage.html
  backend/django/src/templates/loginPage.html
  backend/django/src/templates/nicknamePage.html
  backend/django/src/users/__init__.py
  backend/django/src/users/admin.py
  backend/django/src/users/apps.py
  backend/django/src/users/models.py
  backend/django/src/users/tests.py
  backend/django/src/users/urls.py
  backend/django/src/users/views.py
  backend/django/templates/game.html
  backend/nginx/Dockerfile
  backend/nginx/nginx.sh
  backend/static/twoPlayerMode.js
  docker-compose.yml
Labels: ⭐️ FEAT, ✅ TEST, 1️⃣0️⃣0️⃣ BACKEND

#41 URLconf 작성/#38 #39 #40
  backend/django/django.sh
  backend/django/src/config/settings.py
  backend/django/src/config/urls.py
  backend/django/src/login/__init__.py
  backend/django/src/login/admin.py
  backend/django/src/login/apps.py
  backend/django/src/login/models.py
  backend/django/src/login/tests.py
  backend/django/src/login/views.py
  backend/django/src/matches/urls.py
  backend/django/src/matches/views.py
  backend/django/src/relationships/__init__.py
  backend/django/src/relationships/admin.py
  backend/django/src/relationships/apps.py
  backend/django/src/relationships/models.py
  backend/django/src/relationships/tests.py
  backend/django/src/relationships/urls.py
  backend/django/src/relationships/views.py
  backend/django/src/users/models.py
  backend/django/src/users/tests.py
  backend/django/src/users/urls.py
  backend/django/src/users/views.py
  backend/nginx/Dockerfile
  backend/nginx/nginx.sh
  backend/nginx/src/loginPage.html
  docker-compose.yml
Labels: ⚙️ CHORE, ⭐️ FEAT, ✅ TEST, 1️⃣0️⃣0️⃣ BACKEND

#44 [BE] Django log 기능 추가 #42
  backend/django/django.sh
  backend/django/src/config/settings.py
  backend/django/src/login/views.py
Labels: ⭐️ FEAT, 1️⃣0️⃣0️⃣ BACKEND

#49 [ETC] issues template 추가 및 etc. 문구 추가
  .github/ISSUE_TEMPLATE/⭐️-feature.md
  .github/ISSUE_TEMPLATE/🌄-view.md
  .github/ISSUE_TEMPLATE/🎁-component.md
  .github/ISSUE_TEMPLATE/🎸-etc.md
  .github/ISSUE_TEMPLATE/🐞-bug.md
Labels: 📝 DOCS

#52 [BE] JWT 토큰 발급받기 /#46
  backend/django/requirements.txt
  backend/django/src/config/settings.py
  backend/django/src/login/views.py
  backend/django/src/users/models.py
  backend/nginx/src/loginPage.html
Labels: ⚙️ CHORE, ⭐️ FEAT, ✅ TEST, 1️⃣0️⃣0️⃣ BACKEND

#76 User Api /#56
  .env
  backend/django/django.sh
  backend/django/src/config/middleware.py
  backend/django/src/config/settings.py
  backend/django/src/config/urls.py
  backend/django/src/login/views.py
  backend/django/src/matches/models.py
  backend/django/src/matches/views.py
  backend/django/src/templates/homePage.html
  backend/django/src/templates/loginPage.html
  backend/django/src/users/models.py
  backend/django/src/users/urls.py
  backend/django/src/users/views.py
  backend/nginx/nginx.sh
  backend/nginx/src/loginPage.html
  docker-compose.yml
Labels: ⭐️ FEAT, 1️⃣0️⃣0️⃣ BACKEND, 📬 API
