Repository 42Nuts/Transcendence, pull requests merged in 2024-01, with the labels that each got.

#15 [BE] OAuth Access Token 발급 테스트 #6
  .gitignore
  backend/config/__init__.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/config/urls.py
  backend/config/wsgi.py
  backend/manage.py
  backend/static/images/PingPongLogo.svg
  backend/static/images/ProfileImage.png
  backend/static/output.css
  backend/templates/homePage.html
  backend/templates/loginPage.html
  backend/templates/nicknamePage.html
  backend/user/__init__.py
  backend/user/admin.py
  backend/user/apps.py
  backend/user/models.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Labels: ✅ TEST, 1️⃣0️⃣0️⃣ BACKEND

#19 [BE] User, Relationship, Player, Match 모델 생성 #16
  backend/config/settings.py
  backend/config/urls.py
  backend/matches/__init__.py
  backend/matches/admin.py
  backend/matches/apps.py
  backend/matches/models.py
  backend/matches/tests.py
  backend/matches/views.py
  backend/user/models.py
  backend/user/tests.py
  backend/users/__init__.py
  backend/users/admin.py
  backend/users/apps.py
  backend/users/models.py
  backend/users/tests.py
  backend/users/urls.py
  backend/users/views.py
Labels: ⭐️ FEAT, 1️⃣0️⃣0️⃣ BACKEND

#22 [GAME] Game 앱 생성 #20
  backend/config/settings.py
  backend/pongGame/__init__.py
  backend/pongGame/admin.py
  backend/pongGame/apps.py
  backend/pongGame/models.py
  backend/pongGame/tests.py
  backend/pongGame/views.py
Labels: ⭐️ FEAT, 🕹 GAME

#26 [GAME] Game 기본 구현 #23
  backend/config/asgi.py
  backend/config/settings.py
  backend/config/urls.py
  backend/pongGame/consumers.py
  backend/pongGame/routing.py
  backend/pongGame/twoPlayerMode.py
  backend/pongGame/urls.py
  backend/pongGame/views.py
  backend/static/twoPlayerMode.js
  backend/templates/game.html
Labels: ⭐️ FEAT, 🕹 GAME
